{
  "parser": "@typescript-eslint/parser",
  "extends": ["@astral/eslint-config-react"],
  "parserOptions": {
    "project": ["tsconfig.json"]
  },
  "rules": {
    "react/jsx-props-no-spreading": "off"
  }
}
